body{
    background-color:black;
    margin: 0;
}
#container{
    background: url('background.gif');
    width: 100%;
    height: 100%;
}
#hero{
    background: url('1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1{
    background: url('1942.gif');
    background-position: 0 -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy2{
    background: url('1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy3{
    background: url('1942.gif');
    background-position: -60px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy4{
    background: url('1942.gif');
    background-position: -90px -10px;
    width:28px;
    height:24px;
    position:absolute;
}
.enemy5{
    background: url('1942.gif');
    background-position: -120px -10px;
    width:28px;
    height:24px;
    position:absolute;
}
.enemy6{
    background: url('1942.gif');
    background-position: -150px -10px;
    width:28px;
    height:24px;
    position:absolute;
}
.enemy7{
    background: url('1942.gif');
    background-position: -180px -10px;
    width:28px;
    height:24px;
    position:absolute;
}
.bullet{
    background: url('1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}
#score{
    position:absolute;
    border:10px solid red;
    top:20px;
    left:1500px;
    background-color:white;
    padding:10px;
    width: 80px;
    font-size:30px;
    text-align: center;
    font-family: Arial;	
}